page-sign-in {
    
  .scroll-content {
    background-color: white;

    justify-content: center;
    display: flex!important;
    align-items: center!important;

    .sign-up-item {
      height: 0px;
    }
  }
  
}